@using APP.MODELS
<div id="frmCreate" class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6" required>Tên menu</label>
            <div class="col-sm-4 col-md-4 col-12">
                <input type="text" required class="form-control" id="txtName" placeholder="Tên menu">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6" required>Đường dẫn</label>
            <div class="col-sm-4 col-md-4 col-12">
                <input type="text" required class="form-control" id="txtUrl" placeholder="Tên menu">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6">Menu cha</label>
            <div class="col-sm-4 col-md-4 col-12">
                <select id="drParentMenu" class="form-control">
                    @{
                        var listMenu = ViewData["listMenu"] as List<APP.MODELS.Menus>;
                        if (listMenu != null)
                        {
                            <option value="0">Không có</option>
                            foreach (var i in listMenu)
                            {
                                <option value="@i.Id">@i.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6">Thứ tự</label>
            <div class="col-sm-4 col-md-4 col-12">
                <input type="number" min="0" id="txtOrder" class="form-control" placeholder="Thứ tự" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6">Ghi chú</label>
            <div class="col-sm-4 col-md-4 col-12">
                <textarea id="txtNote" class="form-control" placeholder="Ghi chú"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label for="ckbStatus" class="col-sm-3 col-md-3 col-6">Trạng thái</label>
            <div class="col-sm-4 col-md-4 col-6">
                @*@{
                    if ((int)ViewData[nameof(RolesEnum.Approval)] == 1)
                    {
                        <input id="ckbStatus" type="checkbox" class="custom-control">
                    }
                    else
                    {
                        <input id="ckbStatus" disabled type="checkbox" class="custom-control">
                    }
                }*@
                <input id="ckbStatus" type="checkbox" class="custom-control">
            </div>
        </div>
    </div>
</div>
<script src="~/js/Menu/Create.js"></script>