@using APP.MODELS
@using Portal.Utils;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="row" id="frmFilter">
                    <div class="form-group col-sm-4 col-md-4 col-12">
                        <input id="txtName" type="text" placeholder="Tên loại xe" class="form-control" />
                    </div>
                    <div class="form-group col-sm-2 col-md-2 col-12">
                        <select id="drJob" class="form-control">
                            @{
                                var listManufac = ViewData["listManufac"] as List<APP.MODELS.MotorManufacture>;
                                if (listManufac != null)
                                {
                                    <option value="0">Tất cả</option>
                                    foreach (var i in listManufac)
                                    {
                                        <option value="@i.Id">@i.Name</option>
                                    }
                                }

                            }
                        </select>
                    </div>
                    <div class="form-group col-sm-2 col-md-2 col-12">
                        <select id="drStatus" class="form-control">
                            @{
                                foreach (int i in Enum.GetValues(typeof(StatusEnum)))
                                {
                                    <option value="@i">@Extensions.GetEnumDescription((StatusEnum)i)</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-sm-2 col-md-2 col-6">
                        <button id="btnSearch" class="btn btn-primary">Tìm kiếm</button>
                    </div>
                    <div class="col-sm-2 col-md-2 col-6">
                        @*@{
                            if ((int)ViewData[nameof(RolesEnum.Create)] == 1)
                            {*@
                        <button id="btnCreate" class="btn btn-success float-right">Thêm mới</button>
                        @*}
                            }*@
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div id="dtTable">
            </div>
        </div>
    </div>
</div>
<script src="~/js/Common/Normal.js"></script>
<script src="~/js/MotorType/Index.js"></script>

