
<div id="frmCreate" class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6" required>Tên dịch vụ</label>
            <div class="col-sm-7 col-md-7 col-12">
                <input type="text" required class="form-control" id="txtName" placeholder="Tên dịch vụ">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6" required>Giá</label>
            <div class="col-sm-7 col-md-7 col-12">
                <input type="number" step="1" min="0" required class="form-control" id="txtPrice" placeholder="Giá">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6">Ghi chú</label>
            <div class="col-sm-7 col-md-7 col-12">
                <input type="text" class="form-control" id="txtNote" placeholder="Ghi chú">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label for="ckbStatus" class="col-sm-3 col-md-3 col-6">Trạng thái</label>
            <div class="col-sm-4 col-md-4 col-6">
                @*@{
                    if ((int)ViewData[nameof(RolesEnum.Approval)] == 1)
                    {
                        <input id="ckbStatus" type="checkbox" class="custom-control">
                    }
                    else
                    {
                        <input id="ckbStatus" disabled type="checkbox" class="custom-control">
                    }
                }*@
                <input id="ckbStatus" type="checkbox" class="custom-control">
            </div>
        </div>
    </div>
</div>
<script src="~/js/Service/Create.js"></script>
